<!DOCTYPE html>
<html>
  <head>
    <title>fruits</title>
  </head>
  <body>
    <h1>과일 목록</h1>
    <ol>
      <% for (var i = 0; i < fruits.length; i++) { %>
      <li><%= fruits[i] %></li>
      <% } %>
    </ol>
  </body>
</html>
